@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    max-width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #303030;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

#tipewriter-container {
    display: flex;
}

#prout-launcher {
    justify-self: end;
    margin-left: auto;
    font-family: inherit;
    background-color: orange;
    border-radius: 15%;
    height: fit-content;
    align-self: center;
    padding: 1rem;
}